body {
    font-family: sans-serif;
}
header{
    color: pink;
text-align: center;

   }  

header a{
    color: hotpink;
    text-decoration: none;
    background-color: indigo;
    padding: 5px;
}
nav
 { background-color:violet;
    text-align: none;
    padding:5px;
margin:15px;
border: 2px solid yellow;
border-radius: 10px;
text-align: center;
}

 main p{
     background-color: blue;
     border: 2px double red;
     border-radius: 15px;
     text-align: center;
     color: blanchedalmond;
 }
 h2{
     color:cadetblue;
     font-size: large;
     font-family: monospace;
 }
